@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar > ::-webkit-scrollbar {
  width: 0;
}

.overflow-hidden {
  -ms-overflow-style: none;
}

.newsletter {
  background: url("../public/assets/images/Newsletter.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}
.shop_header {
  background: url("../public/assets/images/shop\ header.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}
.blog_header {
  background: url("../public/assets/images/blog.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
}

.border-bottom-left-radius {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 0px;
}

.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: ; */
}

.preloader {
  width: 25px;
  height: 25px;
  border: 4px solid #FFE2E5;
  border-radius: 50%;
  border-top: 4px solid transparent;
  animation: spin 1s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}