@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar>::-webkit-scrollbar {
  width: 0;
}

.overflow-hidden {
  -ms-overflow-style: none;
}

.newsletter{
  background: url('../public/assets/images/Newsletter.svg');
}